@charset "utf-8";
/*CSS reset*/
html{color:#000;background:#FFF;}

/*浏览器默认的边距处理*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,
p,blockquote,th,td{margin:0;padding:0;}

/*标题*/
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}

a {
  text-decoration: none;
}

/*表格默认处理*/
table{border-collapse:collapse;border-spacing:0;}

/*图片默认处理*/
fieldset,img{border:0;}

del,ins{text-decoration:none;}

/*列表处理*/
li{list-style:none;}

/*伪元素处理*/
q:before,q:after{content:'';}

/*表单元素处理*/
input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}
input,button,textarea,select{*font-size:100%;}

/*浮动设置*/
.fl {
  float: left;
}
.fr {
  float: right;
}


/*清除浮动处理*/

.clearFix:after{
   content:"";
   display:block;
   height:0;
   clear:both;
   visibility:hidden;
   line-height: 0;
 }

/*鼠标样式处理*/
.pointer {
  cursor: pointer;
}

/*字体样式设置*/
.fs {
  font-family: Microsoft Yahei,PingFang SC,hiragino sans gb,simsun,\\5B8B\4F53,Arial,Helvetica,sans-serif;
  font-weight: 400;
}
